{% extends "base.html" %}
{% block content %}

<h2>Add Patient</h2>

<form method="post">
    Name: <input type="text" name="name"><br><br>
    Age: <input type="text" name="age"><br><br>

    Doctor:
    <select name="doctor">
        <option value="">Select Doctor</option>
        {% for d in doctors %}
            <option value="{{ d[0] }}">{{ d[1] }} - {{ d[2] }}</option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Create Appointment</button>
</form>

{% endblock %}